* {
    font-family: 'Krub', sans-serif;
}

body {
    background: url("trees.jpg") center center fixed;
    background-repeat: repeat-y;
}

nav {
    font-family: 'Krub', sans-serif;
    background-color:#033013;
    color: white;
    /* position: fixed; */
    display: block;
    z-index: 2;
}

.navbar {
    position: fixed;
}

.nav-link {
    color: white;
    font-size: 1.25rem;
}

form {
    background-color: #7c8d7f;
        padding: 25px;
    position: fixed;
    margin-top: 100px;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
    box-shadow: 5px 5px 2px #282727;
}

p {
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.right {
    margin: 30px;
}

img#first {
    margin-top: 500px;
}

img {
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: -20px;
    box-shadow: 5px 5px 2px #282727;
}

.btn {
    background-color: #033013;
    border: none;
    color: white;
}


@media only screen and (min-width: 768px) {
    .main {
        position: relative;
        display: flex;
    }

    .left {
        flex: 50%;
    }

    .right {
        flex: 50%;
    }

    form {
        position: fixed;
        left: 25%;
        width: 35%;
    }

    img#first {
        margin-top: 69px;
    }

    img {
        margin-top: 69px;
        margin-left: -10px;
        left: 25%;
        width: 95%;
    }
}